<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.wadhams.spock" level="DEBUG" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>